@import url("theme.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--theme-reverse);
}

html {
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 2em;
    margin-bottom: 60px;
}

p {
    font-size: 1.25em;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 60px;
}

nav ul {
    background-color: var(--nav-bg);
    width: 650px;
    height: 70px;
    top: 20px;
    position: fixed;
    z-index: 2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

nav ul li {
    text-decoration: none;
    display: inline;
    padding: 0 35px;
    font-size: 1.2em;
}

.nav-item {
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 5px;
    transition: .3s;
}

.menu-icon {
    display: none !important;
}

.nav-item:hover,
.nav-item.active {
    border-color: var(--primary);
    color: var(--primary);
}

#mode {
    cursor: pointer;
    color: var(--theme-reverse)
}

.container {
    min-height: 100vh;
    padding-top: 100px;
}

.container h2 {
    text-align: center;
    border-left: 5px solid var(--primary);
    background: var(--secondary);
    padding: 15px 0;
    border-radius: 5px 0 0 5px;
}

#home {
    display: flex;
    align-items: center;
    gap: 80px;
}

.picture {
    flex: 1;
    text-align: end;
}

.picture img {
    height: 300px;
    border-radius: 50%;
}

.hero {
    flex: 2;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero span {
    color: var(--primary);
}

.hero p {
    text-align: justify;
    line-height: 30px;
}

button {
    position: relative;
    padding: 13px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
    z-index: 1;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    transition: color .5s ease;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    background-color: var(--nav-bg);
    border-radius: 5px;
    z-index: -1;
    transition: width 0.5s ease;
}

button:hover::before {
    width: 100%;
}

button:hover {
    color: var(--primary);
}


.about-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#about a {
    color: var(--primary);
    position: relative;
}

#about a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 1px;
    background: currentColor;
    transition: width .2s;
}

#about a:hover::before {
    width: 100%;
}

#about p {
    text-align: justify;
    line-height: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    color: var(--theme-reverse);
    justify-content: center;
}

.card {
    background: var(--secondary);
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadowCard);
}

.card svg {
    width: 64px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.input-text {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

form input {
    width: 315px;
}

form textarea,
form input {
    padding: 14px;
    border-radius: 5px;
    border: none;
    font-size: 1.1em;
    background: var(--secondary);
}

form textarea:focus,
form input:focus {
    outline: none;
}

form textarea::placeholder,
form input::placeholder {
    color: var(--theme-reverse);
}

form textarea {
    resize: none;
    width: 650px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--secondary);
    height: 20vh;
    border-radius: 5px;
    margin-top: 30px;
}

.address {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.link {
    display: flex;
    gap: 20px;
    font-size: 2em;
    margin-left: 10px;
}

.link a i {
    color: var(--primary);
}

.link a i:hover {
    color: rgba(138, 43, 226, 6);
}


/* Responsive */

@media screen and (max-width: 1170px) {
    #home {
        gap: 30px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .picture img {
        height: 240px;
    }

    h2 {
        font-size: 1.5em;
    }

    .about-content {
        gap: 15px;
    }
}

@media screen and (max-width: 964px) {
    body {
        width: 90%;
    }

    nav ul li {
        font-size: 1em;
    }
}

@media screen and (max-width: 760px) {
    nav ul {
        width: 500px;
        height: 50px;
    }

    nav ul li {
        padding: 0 20px;
        font-size: 0.8em;
    }

    #home {
        flex-direction: column-reverse;
        gap: 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.8em;
    }

    .picture img {
        height: 260px;
    }

    h2 {
        font-size: 1em;
    }

    .about-content {
        gap: 10px;
    }

    button {
        padding: 10px 15px;
        font-size: 13px;
        width: 140px;
    }

    h3 {
        font-size: 0.8em;
    }

    .card-container {
        gap: 30px;
    }

    .card {
        width: 200px;
        height: 150px;
    }

    .card svg {
        width: 50px;
    }

    form input {
        width: 240px;
    }

    form textarea,
    form input {
        font-size: 0.8rem;
    }

    form textarea {
        width: 500px;
    }

    .link a i {
        font-size: 25px;
    }

}

@media screen and (max-width:590px) {
    .container {
        min-height: auto;
    }
    .menu-icon {
        position: fixed;
        bottom: 20px;
        right: 5%;
        display: inline-block !important;
        background: var(--primary);
        padding: 10px;
        border-radius: 50%;
        z-index: 2;
    }

    nav ul {
        width: 150px;
        height: 250px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        right: 5%;
        top: auto;
        bottom: 80px;
        padding: 20px 0;
    }

    

    .card {
        width: 150px;
        height: 120px;
    }

    .card svg {
        width: 40px;
    }

    .input-text {
        flex-direction: column;
        gap: 20px;
    }

    form input {
        width: 300px;
    }

    form textarea,
    form input {
        font-size: 0.8rem;
    }

    form textarea {
        width: 300px;
    }

    footer {
        min-height: 250px;
        padding: 20px 0;
        flex-direction: column;
        text-align: center;
        position: relative;
    }

}